@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Black.eot');
    src: local('GothamPro'), url('../fonts/GothamPro-Black.woff') format('woff'), url('../fonts/GothamPro-Black.ttf') format('truetype'), url('../fonts/GothamPro-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Bold.eot');
    src: local('GothamPro'), url('../fonts/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamPro-Bold.ttf') format('truetype'), url('../fonts/GothamPro-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Medium.eot');
    src: local('GothamPro'), url('../fonts/GothamPro-Medium.woff') format('woff'), url('../fonts/GothamPro-Medium.ttf') format('truetype'), url('../fonts/GothamPro-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Light.eot');
    src: local('GothamPro'), url('../fonts/GothamPro-Light.woff') format('woff'), url('../fonts/GothamPro-Light.ttf') format('truetype'), url('../fonts/GothamPro-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: auto;
    background: $white;
    color: $text;
    font-weight: lighter;
    font-family: GothamPro, Arial, Helvetica, sans-serif;
}