.production {
	@extend .store;
	padding-bottom: 0;
	.production_gallery {
		@extend .store_gallery;
		.lightbox {
			width: 10%;
			margin: 15px;
			padding: 0;
			opacity: 0;
			&.animate {
				opacity: 1;
			}
			@media all and (max-width: $landscape) {
				margin: 1px;
				flex: 1 1 30%;
			}
		}
	}
}