$yellow:        #ffec00;
$black_fon:     #242424;
$text:          #000000;
$white:         #ffffff;
$maxwidth:      1170px;
$minwidth:      290px;
$desctop:       1000px;
$landscape:     980px;
$phone:			770px;